{
  "openapi": "3.0.0",
  "info": {
    "title": "TypeAuth API",
    "version": "1.0.0",
    "description": "API documentation for TypeAuth",
    "x-logo": {
      "url": "https://developers.userzero.io/typeauth-light.png",
      "backgroundColor": "#FFFFFF",
      "altText": "typeauth logo"
    }
  },
  "servers": [
    {
      "url": "https://api.typeauth.com"
    }
  ],
  "tags": [],
  "paths": {},
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "account typeauth key",
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RequestApplicationSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "ratelimit": {
            "type": "object"
          },
          "refill": {
            "type": "object"
          },
          "remaining": {
            "type": "integer"
          },
          "keyType": {
            "type": "string"
          },
          "jwk": {
            "type": "string"
          },
          "expires": {
            "type": "integer"
          },
          "byteLength": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          }
        }
      },
      "RequestKeySchema": {
        "type": "object",
        "properties": {
          "byteLength": {
            "type": "integer"
          },
          "expires": {
            "type": "integer"
          },
          "metadata": {
            "type": "object"
          },
          "remaining": {
            "type": "integer"
          },
          "ratelimit": {
            "type": "object"
          },
          "refill": {
            "type": "object"
          }
        }
      },
      "RequestJWKCreateSchema": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "jsonKey": {
            "type": "object",
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JWKsType"
                }
              }
            }
          },
          "jwtEndpoint": {
            "type": "string"
          }
        }
      },
      "JWKsType": {
        "type": "object",
        "properties": {
          "kty": {
            "type": "string"
          },
          "use": {
            "type": "string"
          },
          "crv": {
            "type": "string"
          },
          "kid": {
            "type": "string"
          },
          "x": {
            "type": "string"
          },
          "y": {
            "type": "string"
          },
          "alg": {
            "type": "string"
          }
        }
      },
      "RequestMonitorDashSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          }
        }
      },
      "RequestMonitorUpdateSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "mon_status": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer"
          }
        }
      },
      "MonitorEvent": {
        "type": "object",
        "properties": {
          "accID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "time": {
            "type": "number"
          },
          "monId": {
            "type": "string"
          }
        }
      }
    }
  }
}
